<div class="sideNav" fxLayout="column" >
    <div fxLayoutAlign="center center"><mat-icon>widgets</mat-icon></div>
    <div fxLayoutAlign="center center"><mat-icon>bar_chart</mat-icon></div>
    <div fxLayoutAlign="center center"><mat-icon>add_to_photos</mat-icon></div>
    <div fxLayoutAlign="center center"><mat-icon>done_outline</mat-icon></div>
    <div fxLayoutAlign="center center"><mat-icon>settings</mat-icon></div>
    <div fxLayoutAlign="center center"><mat-icon>save_alt</mat-icon></div>
    
    
</div>