.sideNav{
    min-height: 100vh;
    height: 100%;
    position: fixed;
    width: 5rem;
    background-color: #fff;
    left: 0;
    padding-top: 6rem;
}
.sideNav mat-icon{
    color: darkblue;
    display: flex;
    place-content: center;
    align-items: center;
    font-size: 1.2rem;
    
}
.sideNav div{
    height: 5rem;width: 5rem;
}

.sideNav div :hover{
    color: #506de2;
    cursor: pointer;
}