.topNav{
    height: 5rem;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    position: fixed;
}
.homeIcon{
    background-color: #506de2;
    height: 5rem;
    width: 5.3rem;
}
.homeIcon mat-icon{
    color: #fff ;
}
.topNav input{
    border: none;
    padding:1rem ;
}
:focus-visible {
    outline: none!important;
    outline: none!important;
}
.navBar{
    padding: 0 2rem;
    width: 100%;
}
.navBar img{
    width: 2rem;
    height: 2rem;
    object-position: center;
    object-fit: cover;
}
.navBar select{
    padding: 0.5rem;
    border: none!important;
}
