<div class="topNav" fxLayout="row">
    <div class="homeIcon" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon>subject</mat-icon>
    </div>
    <div class="navBar" fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon>search</mat-icon>
            <input placeholder="Search">
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
            
            <select>
                <option>Eng</option>
                <option>Hin</option>
            </select>
            <mat-icon matBadge="7"  matBadgeSize="small"> message</mat-icon>
            <mat-icon matBadge="5"  matBadgeSize="small" matBadgeColor="accent">notifications_none</mat-icon>
            <img src="./../../assets/dummyImg.jpg">
            <h5>Camilie Stevenson</h5>
        </div>
    </div>
    
    
</div>